!!! 5
%html
  %head
    %title time-caddy
    = haml :_bootstrap_header
    %link{rel: 'stylesheet', href: '/stylesheets/basic.css'}
  %body
    = haml :_navbar, locals: { user: logged_in_user }

    .container-fluid
      - if logged_in_user
        %p= "Hello, #{logged_in_user.username}."
        %p
          Add an entry:
          %textarea
        %p
          Current entries:
          %table
            %th
              %td ID
              %td Start at
              %td Finish at
              %td Description
              %td Tags
            %tr
              %td
                - logged_in_user.log_entries.each do |log_entry|
                  %td= "#{log_entry.id}"
                  %td= "#{log_entry.start_at}"
                  %td= "#{log_entry.finish_at}"
                  %td= "#{log_entry.description}"
                  %td= "#{log_entry.tags.map(&:name)}"
      - else
        %p
          Hello, anonymous.
          %a{href: "/login"} Log in
          if you already have an account.
          %a{href: "/signup"} Sign up
          if you don't.
