!!! 5
%html
  %head
    %title time-caddy password reset confirmatino
    = haml :_bootstrap_header
    = haml :_jquery
    %link{rel: 'stylesheet', href: '/stylesheets/basic.css'}
  %body
    = haml :_navbar, locals: { user: @user, hide_login: true }
    .container-fluid
      = haml :_flash
      .col-md-4.col-md-offset-4
        - if settings.email_enabled
          %p We have sent an email to you with a confirmation code. Please enter it below along with your desired new password.
          %form{action: '/password_reset', method: 'post'}
            .form-group
              %label{for: 'password_reset_token'} Confirmation code
              %input#password_reset_token.form-control{type: 'text', name: 'password_reset_token'}
            .form-group
              %label{for: 'new_password'} New password
              %input#password_reset_token.form-control{type: 'password', name: 'new_password'}
            .form-group
              %input#submit.btn.btn-default{type: 'submit', value: 'Confirm'}
        - else
          %p= "Please contact #{settings.support_email} to reset your password."
