%html
  %head
    %title time-caddy signup
    = haml :_bootstrap_header
    = haml :_jquery
    %link{rel: 'stylesheet', href: '/stylesheets/basic.css'}
  %body
    = haml :_navbar, locals: { user: logged_in_user, hide_login: true }
    .container-fluid
      .col-md-6.col-md-offset-3
        %h2 Signup successful
        %p
          We have sent an email to
          = "#{@confirm_user.email}"
          with instructions as to how to activate your account so that you can log in. 
