%html
  %head
    %title time-caddy signup
    = haml :_bootstrap_header
    = haml :_jquery
    %link{rel: 'stylesheet', href: 'https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css'}
    %link{rel: 'stylesheet', href: '/stylesheets/basic.css'}
    %script{src: 'https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js'}
    %script{src: '/scripts/jstz.js'}
    :javascript
      $(document).ready(function() {
        $("#default_tz").select2();
        tz_name = jstz.determine().name();
        $("#default_tz").val(tz_name).trigger("change"); // need to validate against this selecting nothing
      });
  %body
    = haml :_navbar, locals: { user: logged_in_user, hide_login: true }
    .container-fluid
      - if flash[:signup]
        %p= flash[:signup]
      .col-md-4.col-md-offset-4
        - if logged_in_user
          %p= "You are already logged in as #{logged_in_user.username}, though you may still create a new account below if you want."
        %p
          Sign up for a new account below. If you already have an account,
          %a{href: '/login'} log in
          instead.
        %form{action: '/signup', method: 'post'}
          .form-group
            %label{for: 'username'} Username
            %input#username.form-control{type: 'text', name: 'username'}
            .form-explanation This is how you will appear in the app and is the name by which others can refer to you in their posts. 1-40 characters. Alphanumerics, underscores, or hyphens only.
          .form-group
            %label{for: 'email'} Email
            %input#email.form-control{type: 'email', name: 'email'}
            .form-explanation We will never give this out to anyone else. We only use it to contact you.
          .form-group
            %label{for: 'password'} Password
            %input#password.form-control{type: 'password', name: 'password'}
            .form-explanation At least 6 characters.
          .form-group
            %label{for: 'default_tz'} Default time zone
            %select#default_tz.form-control
              - utc_now = Time.now.utc
              - tz_with_offset = TZInfo::Timezone.all.map { |tz| [tz, tz.period_for_utc(utc_now).utc_total_offset / 3600.0] }
              - tz_with_offset.sort_by{ |x| [x[1], x[0]] }.each do |tz, offset|
                %option{value: tz.name}= "#{tz.friendly_identifier} (#{offset > 0 ? '+' : ''}#{offset == offset.round ? offset.round : offset})"
            .form-explanation Enter the actual time zone you want, not just one with the same UTC offset, or your handling of adjustments like daylight savings may be wrong. You can change this later.
            .form-explanation
              The offsets are with respect to
              = "#{utc_now.to_s}."
              This will vary by time of year due to adjustments.

          .form-group
            %input#submit.btn.btn-default{type: 'submit', value: 'Sign me up'}
