%html
  %head
    %title time-caddy signup
    = haml :_bootstrap_header
    = haml :_jquery
    %link{rel: 'stylesheet', href: 'https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css'}
    %link{rel: 'stylesheet', href: '/stylesheets/basic.css'}
    %script{src: 'https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js'}
    %script{src: '/scripts/dist/jstz.js'}
    %script{src: '/scripts/dist/zxcvbn.js'}
    :javascript
      $(function() {
        $("#default-tz").select2();
        tz_name = jstz.determine().name();
        $("#default-tz").val(tz_name).trigger("change"); // need to validate against this selecting nothing

        $("#password").on("input", function() {
          if ($(this).val().length < 6) {
            $("#password-status").text("ðŸ¤”");
            $("#password-status-explanation").text("At least 6 characters")
          }
          else {
            security = zxcvbn($(this).val());
            if (security.score <= 0) {
              $("#password-status").text("ðŸ™");
              $("#password-status-explanation").text("Weak");
            }
            else if (security.score <= 2) {
              $("#password-status").text("ðŸ˜");
              $("#password-status-explanation").text("So-so");
            }
            else if (security.score <= 3) {
              $("#password-status").text("ðŸ™‚");
              $("#password-status-explanation").text("Good");
            }
            else {
              $("#password-status").text("ðŸ˜€");
              $("#password-status-explanation").text("Great!");
            }
          }
        });
      });
  %body
    = haml :_navbar, locals: { user: logged_in_user, hide_login: true }
    .container-fluid
      - if flash[:signup_errors]
        .col-md-6.col-md-offset-3
          .flash.signup-errors
            %ul
              - flash[:signup_errors].each do |error_msg|
                %li= error_msg
      .col-md-6.col-md-offset-3
        - if logged_in_user
          %p= "You are already logged in as #{logged_in_user.username}, though you may still create a new account below if you want."
        %p
          Sign up for a new account below. If you already have an account,
          %a{href: '/login'} log in
          instead. If you have forgotten your username,
          %a{href: '/retrieve_username'} retrieve it.
          If you have forgotten your password,
          %a{href: '/reset_password'} reset it.
        %form{action: '/signup', method: 'post'}
          .form-group
            %label{for: 'username'} Username
            %input#username.form-control{type: 'text', name: 'username'}
            .form-explanation This is how you will appear in the app and how others can refer to you in their own posts. 1-40 characters. Alphanumerics, underscores, or hyphens only.
          .form-group
            %label{for: 'email'} Email
            %input#email.form-control{type: 'email', name: 'email'}
            .form-explanation We use this for account management and for opt-in app-related alerts. We do not provide your email address to any third party except to help us accomplish these two things.
          .form-group
            %label{for: 'password'} Password
            .input-group
              %input#password.form-control{type: 'password', name: 'password'}
              #password-status.input-group-addon ðŸ¤”
            #password-status-explanation.form-explanation At least 6 characters.
          .form-group
            %label{for: 'default-tz'} Default time zone
            %select#default-tz.form-control{name: 'default_tz'}
              - utc_now = Time.now.utc
              - tz_with_offset = TZInfo::Timezone.all.map { |tz| [tz, tz.period_for_utc(utc_now).utc_total_offset / 3600.0] }
              - tz_with_offset.sort_by{ |x| [x[1], x[0]] }.each do |tz, offset|
                %option{value: tz.name}= "#{tz.friendly_identifier} (#{offset > 0 ? '+' : ''}#{offset == offset.round ? offset.round : offset})"
            .form-explanation Enter the actual time zone you want, not just one with the same UTC offset, or your handling of adjustments like daylight savings may be wrong. You can change this later.
            .form-explanation
              The offsets listed are with respect to
              = "#{utc_now.to_s},"
              and vary by time of year due to adjustments for different time zones.

          .form-group
            %input#submit.btn.btn-default{type: 'submit', value: 'Sign me up'}
